# capturing NaN with a new feature
# this data is going to work for missing data not at random

In [1]:
import pandas as pd
df = pd.read_csv('titanic-train.csv',usecols = ['Age','Fare','Survived'])
df.head()

   Survived   Age     Fare
0         0  22.0   7.2500
1         1  38.0  71.2833
2         1  26.0   7.9250
3         1  35.0  53.1000
4         0  35.0   8.0500

In [2]:
import numpy as np
df['Age_NaN'] = np.where(df['Age'].isnull(),1,0)

In [3]:
df.head()

   Survived   Age     Fare  Age_NaN
0         0  22.0   7.2500        0
1         1  38.0  71.2833        0
2         1  26.0   7.9250        0
3         1  35.0  53.1000        0
4         0  35.0   8.0500        0

In [ ]:
## Advantages
1. easy to implement
2. captures importance of missing values

In [ ]:
df['Age'].fillna(df)