In [1]:
# List of words to pair with products
words =  ['buy','prices']

# Print list of words
# ... YOUR CODE FOR TASK 1 ...

In [2]:
products = ['sofas', 'convertible sofas', 'love seats', 'recliners', 'sofa beds']

# Create an empty list
keywords_list = []

# Loop through products
for product in products:
    # Loop through words
    for word in words:
        # Append combinations
        keywords_list.append([product, product + ' ' + word])
        keywords_list.append([product, word + ' ' + product])
        
# Inspect keyword list
from pprint import pprint
pprint(keywords_list)

[['sofas', 'sofas buy'],
 ['sofas', 'buy sofas'],
 ['sofas', 'sofas prices'],
 ['sofas', 'prices sofas'],
 ['convertible sofas', 'convertible sofas buy'],
 ['convertible sofas', 'buy convertible sofas'],
 ['convertible sofas', 'convertible sofas prices'],
 ['convertible sofas', 'prices convertible sofas'],
 ['love seats', 'love seats buy'],
 ['love seats', 'buy love seats'],
 ['love seats', 'love seats prices'],
 ['love seats', 'prices love seats'],
 ['recliners', 'recliners buy'],
 ['recliners', 'buy recliners'],
 ['recliners', 'recliners prices'],
 ['recliners', 'prices recliners'],
 ['sofa beds', 'sofa beds buy'],
 ['sofa beds', 'buy sofa beds'],
 ['sofa beds', 'sofa beds prices'],
 ['sofa beds', 'prices sofa beds']]

In [3]:
# Load library
import pandas as pd
# ... YOUR CODE FOR TASK 3 ...

# Create a DataFrame from list
keywords_df = pd.DataFrame(keywords_list)

# Print the keywords DataFrame to explore it
keywords_df.head()
# ... YOUR CODE FOR TASK 3 ...

                   0                      1
0              sofas              sofas buy
1              sofas              buy sofas
2              sofas           sofas prices
3              sofas           prices sofas
4  convertible sofas  convertible sofas buy

In [5]:
# Rename the columns of the DataFrame
keywords_df = keywords_df.rename(columns = {0: 'Adwords',1:'keyword'})

In [6]:
keywords_df.head()

             Adwords                keyword
0              sofas              sofas buy
1              sofas              buy sofas
2              sofas           sofas prices
3              sofas           prices sofas
4  convertible sofas  convertible sofas buy