## Working with text files in Python for NLP

In [1]:
# String Formatter
name='King is Gone'
print('The sentence goes as ..{}'.format(name))

The sentence goes as ..King is Gone

In [2]:
print(f'the sentece goes as .. {name}')

the sentece goes as .. King is Gone

In [ ]:
# minimum width and alignment between the columns

In [7]:
ds_tuts=[('Python_for_beginners',19),('Feature_selection',11),('ML_in_python',11),('Deep_learning',19)]

In [8]:
ds_tuts # Now the target is to print them aligned properly

[('Python_for_beginners', 19),
 ('Feature_selection', 11),
 ('ML_in_python', 11),
 ('Deep_learning', 19)]

In [9]:
for info in ds_tuts:
    print(info)

('Python_for_beginners', 19)
('Feature_selection', 11)
('ML_in_python', 11)
('Deep_learning', 19)

In [11]:
# words can be left-aligned(using >), right-aligned(using <), center aligned(using ^)
for info in ds_tuts:
    print(f'{info[0]:<{50}}{info[1]:{10}}')

Python_for_beginners                                      19
Feature_selection                                         11
ML_in_python                                              11
Deep_learning                                             19

In [ ]:
# working with .csv or .tsv files

In [15]:
import pandas as pd

In [16]:
data=pd.read_csv('moviereviews.tsv',sep='\t')

In [17]:
data.head()

  label                                             review
0   neg  how do films like mouse hunt get into theatres...
1   neg  some talented actresses are blessed with a dem...
2   pos  this has been an extraordinary year for austra...
3   pos  according to hollywood movies made in last few...
4   neg  my first press screening of 1998 and already i...

In [18]:
data.shape

(2000, 2)

In [19]:
data['label'].value_counts()

neg    1000
pos    1000
Name: label, dtype: int64

In [20]:
pos=data[data['label']=="pos"]

In [23]:
pos.to_csv('pos.tsv',sep='\t',index=False)

In [24]:
pd.read_csv('pos.tsv',sep='\t')

    label                                             review
0     pos  this has been an extraordinary year for austra...
1     pos  according to hollywood movies made in last few...
2     pos  with stars like sigourney weaver ( " alien " t...
3     pos  i remember hearing about this film when it fir...
4     pos  garry shandling makes his long overdue starrin...
..    ...                                                ...
995   pos  i like movies with albert brooks , and i reall...
996   pos  it might surprise some to know that joel and e...
997   pos  the verdict : spine-chilling drama from horror...
998   pos  i want to correct what i wrote in a former ret...
999   pos  a couple of months ago , when i first download...

[1000 rows x 2 columns]

### time to use built in magic command i.e) %%writefile

In [25]:
%%writefile text1.txt
Helo, this is some lesson in NLP

Writing text1.txt

In [37]:
# to append new message to the etxt file
%%writefile -a text1.txt
Nothing has happened hereafter.

SyntaxError: invalid syntax (<ipython-input-37-5e329ec28f7e>, line 3)

In [31]:
# using python built-in command to read and write text files

In [32]:
file = open('text1.txt','r') # read mode

In [34]:
file.read()

'Helo, this is some lesson in NLP\n'

In [35]:
file.read() # becausse the interpreter has gone to the next line when the previously opened

''

In [36]:
file.seek(0)
file.read()

'Helo, this is some lesson in NLP\n'

In [38]:
# file.readlines() gives the lines in document as list of strings

In [40]:
with open('text1.txt') as file:
    text_data=file.readlines()
    print(text_data)

['Helo, this is some lesson in NLP\n']

In [42]:
for temp in text_data:
    print(temp.strip())

Helo, this is some lesson in NLP

In [44]:
for i,tem in enumerate(text_data):
    print(str(i) + "  .... " + tem.strip())

0  .... Helo, this is some lesson in NLP

In [ ]:
 # write into a file.

In [45]:
file = open('text2.txt','w')

In [46]:
file.write('This is another example of writing innto text')

45

In [47]:
file.close()

In [48]:
with open('text3.txt','w') as file:
    file.write('This is third file')

In [49]:
# to append the text data into text filee

with open('text3.txt','a') as file:
    for tem in text_data:
        file.write(tem)