In [4]:
import pandas as pd

In [5]:
aisles = pd.read_csv(r'E:/KG windows backup/Fall 2020/Big-Data & DM/InstaCart Dataset/aisles.csv')
products = pd.read_csv(r'E:/KG windows backup/Fall 2020/Big-Data & DM/InstaCart Dataset/products.csv')
orders = pd.read_csv(r'E:/KG windows backup/Fall 2020/Big-Data & DM/InstaCart Dataset/orders.csv')
order_product_train = pd.read_csv(r'E:/KG windows backup/Fall 2020/Big-Data & DM/InstaCart Dataset/order_products__train.csv')
order_product_prior = pd.read_csv(r'E:/KG windows backup/Fall 2020/Big-Data & DM/InstaCart Dataset/order_products__prior.csv')
departments = pd.read_csv(r'E:/KG windows backup/Fall 2020/Big-Data & DM/InstaCart Dataset/departments.csv')

In [7]:
order_product_train

         order_id  product_id  add_to_cart_order  reordered
0               1       49302                  1          1
1               1       11109                  2          1
2               1       10246                  3          0
3               1       49683                  4          0
4               1       43633                  5          1
...           ...         ...                ...        ...
1384612   3421063       14233                  3          1
1384613   3421063       35548                  4          1
1384614   3421070       35951                  1          1
1384615   3421070       16953                  2          1
1384616   3421070        4724                  3          1

[1384617 rows x 4 columns]